
{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %}<title>404 error</title>{% endblock %}
{% block cssLink %}<link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}"> {% endblock %}

{% block body %}

<div style="display: flex; flex-direction: column; margin: 25px;">
    <h1 style="margin: 25px;">oops page not found (404)</h1>
    <hr>
    <p style="margin: 25px; font-size: 25px;">page not found, please make sure you are visiting correct address</p>
</div>
{% endblock %}