{% extends 'base.html' %}

{% block cssLink %}<link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">{% endblock %}
{% block body %}

<div class="menu">
    {% if current_user.is_authenticated %}
    <ul>
        <li class="profile">
            <div class="imagebox">
                <img src="{{url_for('static',filename='images/'+current_user.profileIMG)}}" alt="profile">
            </div>
            <h2>{{current_user.username}}</h2>
        </li>
        <li>
            <a class="active" href="{{url_for('index')}}">
                <i class="fas fa-home"></i>
                <p>dashboard</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-user-group"></i>
                <p>clients</p>
            </a>
        </li>
        <li>
            <a href="{{url_for('InsertProducts')}}">
                <i class="fas fa-table"></i>
                <p>products</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-chart-pie"></i>
                <p>charts</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-pen"></i>
                <p>posts</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-star"></i>
                <p>favorite</p>
            </a>
        </li>
        <li>
            <a href="{{url_for('updateProfile')}}">
                <i class="fas fa-cog"></i>
                <p>settings</p>
            </a>
        </li>
        <li class="log-out">
            <a href="{{url_for('logout')}}" >
                <i class="fas fa-sign-out"></i>
                <p>Log Out</p>
            </a>
        </li>
    </ul>

    {%else%}

    <ul>
        <li class="profile">
            <div class="imagebox">
                <img src="{{url_for('static',filename='images/defaultUserPhoto.png')}}" alt="profile">
            </div>
            <h2>Guest</h2>
        </li>
        <li>
            <a class="active" href="{{url_for('index')}}">
                <i class="fas fa-home"></i>
                <p>Home</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-user-group"></i>
                <p>clients</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-cog"></i>
                <p>settings</p>
            </a>
        </li>
        <li>
            <a href="{{url_for('about')}}">
                <i class="fas fa-regular fa-circle-info" style="color: #ffffff;"></i>
                <p>About</p>
            </a>
        </li>
        <li class="register">
            <a href="{{url_for('register')}}">
                <i class="fa-solid fa-user-plus" style="color: #ffffff;"></i>
                <p>Register</p>
            </a>
        </li>
        <li class="log-in">
            <a href="{{url_for('login')}}" >
                <i class="fas fa-sign-in"></i>
                <p>Login</p>
            </a>
        </li>
    </ul>

    {%endif%}

</div>

{% endblock %}