{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %}<title>Search Users</title>{% endblock %}
{% block cssLink %}<link rel="stylesheet" href="{{url_for('static', filename = 'css/rent.css')}}"> {% endblock %}

{% block body %}

<div class="content">
    <div class="card">
        <div class="title">
        <h3>Small</h3>
        </div>
        <ul style="height: 200px; text-align: center; color: #000;">
            <li><h4>$200<small style="color: rgb(139, 139, 139);">/mo</small></h4></li>
            <li>intended for private<b style="color: #000;"> individuals</b></li>
            <li>Up To 80 Meter Capacity</li>
            <small style="color: #000; display: none;">increase capacity with an additional fee</small>
            <li>Mangement Your Items</li>
            <li>git 4</li>
        </ul>
        <input id="rentButton" type="button" name="rent now" value="rent now">
    </div>
    <div class="card">
        <div class="title">
        <h3>Medium</h3>
        </div>
        <ul style="height: 200px; text-align: center; color: #000;">
            <li><h4>$700<small style="color: rgb(139, 139, 139);">/mo</small></h4></li>
            <li></li>
            <li>git 2</li>
            <li>git 3</li>
            <li>git 4</li>
        </ul>
        <input id="rentButton" type="button" name="rent now" value="rent now">
    </div>
    <div class="card">
        <div class="title">
        <h3>Large</h3>
        </div>
        <ul style="height: 200px; text-align: center; color: #000;">
            <li><h4>$2000<small style="color: rgb(139, 139, 139);">/mo</small></h4></li>
            <li>Lorem, ipsum dolor.</li>
            <li>Lorem, ipsum dolor.</li>
            <li>git 3</li>
            <li>git 4</li>
        </ul>
        <input id="rentButton" type="button" name="rent now" value="rent now">
    </div>

</div>


{% endblock %}
