{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %}<title>Request Change Password</title>{% endblock %}
{% block cssLink %}<link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}"> {% endblock %}

{% block body %}
<div class="content" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <form action="" method="POST">
        {{form.hidden_tag()}}
        <div class="title-info" style="width: 500px; justify-content: center; margin: 25px 0px;">
            <legend>Reset Password</legend>
        </div>
        <div class="text">
            {{form.email.label()}}
            {{form.email()}}
        </div>
        <div class="registerButton" style="justify-content: center; width: 500px;">
            {{form.submit(class='registerButton changeSize')}}
        </div>
    </form>
</div>
{% endblock %}