
*{

    padding: 0;
    margin: 0;
    color:white;
    font-family: sans-serif;
}


body{

background-color: #001;
display: flex;

}

.content{
    width: 100%;
    margin:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.content form .title-info{
    width:500px;
    background-color: rgb(4,129,255);
    display:flex;
    justify-content: center;
    margin:10px 0px;
    padding:10px;
    align-items: center;
    border-radius: 10px;
    font-size: 30px;
}

.content form .field-info{
    width:400px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:10px 50px;
    font-weight: bold;
    align-items: center;
}

.img-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    font-weight: bold;
}

input[type="file"]::file-selector-button {
    width: 100px;
    height: 100px;
    color: transparent;
    background-image: url(images/defaultUserPhoto.png);
    background-color: transparent;
    background-size: cover;
    border: none;
  }

.img-info img{
    width: 100px;
    height: 100px;
    border-radius: 50% 50%;
}
  


.content form .field-info input,.content form .field-info textarea{
    background-color: #123;
    margin:10px 0;
    padding:10px;
    width: 200px;
    border-radius: 10px;
    font-style: italic;
    font-weight: bold;
    font-family: cursive;
}

.content form .field-info textarea{
    width: 100%;
}

.inputdanger{
    border: 2px solid darkred;
    
}

.content form .field-info p{
    font-size: 10px;
    margin-left: 180px;
    color: darkred;
}


.registerButton{
    display: flex;
    justify-content: center;
}

.registerButton input{
    background-color: #126;
    width: 150px;
    margin:10px 0;
    
    padding:10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}


.registerButton input:hover{
    background-color: rgb(4,129,255);
    transition: .5s;
}

.tableOfPosts{
    width: 100%;
    text-align: left;
    border-spacing: 0;
    
}
.tableOfPosts tr th{
    width: 100%;
    border-radius: 0px;
}
.tableOfPosts tr td
{
    background-color: #123;
    border-radius: 0px; 
    padding-bottom: 10px;  
    border-bottom: 1px solid grey;  
    padding-right: 40px;
}
.tableOfPosts tr td a
{
    color: #ffa;
    font-weight: bold;
    text-decoration: none; 
    
}

.ckeditor{
    margin: 25px;
}


