
*{

    padding: 0;
    margin: 0;
    color:white;
    font-family: sans-serif;
}

body{

background-color: #001;
display: flex;
overflow-y: scroll;
overflow-x: hidden;
margin-top: 20px;

}

.content{
    width: 100%;
    color:white;
    
}
.content .title-info{
    width:98%;
    background-color: rgb(4,129,255);
    display:flex;
    justify-content: space-between;
    margin:10px 0px;
    padding:10px;
    align-items: center;
    border-radius: 10px;
}

.profile{
    display:flex;
    align-items: center;
    gap:30px
}

.profile h2{

    font-size: 20px;
    text-transform: capitalize;
}

.imagebox{
height: 50px;
width: 50px;
border-radius: 50%;
overflow: hidden;
border: 3px solid white;
flex-shrink: 0;
}

.imagebox img{
    width:100%;
}


.menu{
    background: #123;
    width: 60px;
    overflow: hidden;
    height: 100vh;
    padding: 20px;
    transition: .5s;
    color:white;
    
}

.menu:hover{
    width: 260px; 
}

ul{
    list-style: none;
    position: relative;
    height: 95%;
}

ul li a{
    padding:10px;
    margin: 10px 0;
    display: block;
    text-decoration: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap:40px;
    transition: 0.5s;
}

ul li a:hover,.active,.box:hover{

    background-color: rgba(255, 255, 255, 0.5);

}

.log-out{

    position: absolute;
    width: 100%;
    bottom: 0;
}

.log-out a{

    background-color: red;
}

ul li a i{
    font-size: 30px;
}


.data-info{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box{
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    height: 150px;
    flex-basis: 150px;
    gap:30px;
    border-radius: 8px;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}

.box i{
    font-size: 40px;
}

.box .data{
    text-align: center;
}

.box .data span{
    font-size: 32px;
}

table{
    width: 100%;
    text-align: center;
    border-spacing: 8px;

}

td,th{
    background-color: #123;
    margin:10px 0;
    padding:10px;
    border-radius: 10px;
}

th{
    background-color: rgb(4,129,255);
}
.price,.count{
    padding: 2px;
    border-radius: 4px;
    background-color: green;
}

.count{
    background-color: yellow;
    color: black;
}

body{

background-color: #001;
display: flex;

}

.content{
    width: 100%;
    margin:10px;
}
.content .title-info{
    width:98%;
    background-color: rgb(4,129,255);
    display:flex;
    justify-content: space-between;
    margin:10px 0px;
    padding:10px;
    align-items: center;
    border-radius: 10px;
}

.profile{
    display:flex;
    align-items: center;
    gap:30px
}

.profile h2{

    font-size: 20px;
    text-transform: capitalize;
}

.imagebox{
height: 50px;
width: 50px;
border-radius: 50%;
overflow: hidden;
border: 3px solid white;
flex-shrink: 0;
}

.imagebox img{
    width:100%;
}


.menu{
    background: #123;
    width: 60px;
    overflow: hidden;
    height: 100vh;
    padding: 20px;
    transition: .5s;
    color:white;
    

}

.menu:hover{
    width: 260px; 
}

ul{
    list-style: none;
    position: relative;
    height: 95%;
}

ul li a{
    padding:10px;
    margin: 10px 0;
    display: block;
    text-decoration: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap:40px;
    transition: 0.5s;
}

ul li a:hover,.active,.box:hover{

    background-color: rgba(255, 255, 255, 0.5);

}

.log-out{

    position: absolute;
    width: 100%;
    bottom: 0;
}

.log-out a{

    background-color: red;
}

.log-in{

    position: absolute;
    width: 100%;
    bottom: 0;
}

.log-in a{

    background-color: rgb(4,129,255);
}

.register{
    position: absolute;
    width: 100%;
    bottom: 60px; 
}

ul li a i{
    font-size: 30px;
}


.data-info{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box{
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    height: 150px;
    flex-basis: 150px;
    gap:30px;
    border-radius: 8px;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}

.box i{
    font-size: 40px;
}

.box .data{
    text-align: center;
}

.box .data span{
    font-size: 32px;
}

table{
    width: 100%;
    text-align: center;
    border-spacing: 8px;

}

td,th{
    background-color: #123;
    margin:10px 0;
    padding:10px;
    border-radius: 10px;
}

th{
    background-color: rgb(4,129,255);
}
.price,.count{
    padding: 2px;
    border-radius: 4px;
    background-color: green;
}

.count{
    background-color: yellow;
    color: black;
}

.flash{
    font-weight: bold;
    font-size: 20px;
    color: #070;
    width: 100%;
    text-align: center;
    border-radius: 15px;
    border: 3px solid #070;
    background-color: rgb(95, 168, 95);
    margin-top: 5px;
    
}